.root {
  display: flex;
  justify-content: center;
  background-color: blueviolet;
}

.flex-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
  height: 100vh;
  background-color: aqua;
}

.flex-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 0px 10px 0px;
  background-color: brown;
}

.flex-table {
  background-color: blanchedalmond;
  display: flex;
  width: 75%;
  flex-direction: column;
  align-items: center;
}

.flex-row {
  width: 100%;
  display: flex;
  background-color: blue;
}

.flex-cell {
  flex: 1;
  background-color: blue;
}

.t-header {
  font-weight: 500;
}

.grid-table {
  display: grid;
  grid-template: auto / 20% 20% 20% 20% 20%;
  width: 75%;
  background-color: #fff;
}

.cell {
  padding: 10px;
  text-align: left;
}

.header {
  background-color: #ddd;
}
